.custom-footer {
  background-color: #E1F5FE;   // Nền xanh nhạt
  color: #0D47A1;              // Màu chữ xanh đậm
  text-align: center;
  padding: 12px 20px;
  font-size: 12px;
  height: 35px;
  //border-top: 1px solid #ccc;

  p {
    margin: 0;
  }
}
