<div style="height: 100%;">
    <div class="search-box col-md-12">
        <div class="row mb-3">
            <div class="col-md-3">
                <app-custom-label text="Số thẻ"></app-custom-label>
                <app-custom-text-box [(value)]="req.card_number" (onEnterKey)="search()"></app-custom-text-box>
            </div>

            <div class="col-md-3">
                <app-custom-label text="Số CCCD"></app-custom-label>
                <app-custom-text-box [(value)]="req.legal_id" (onEnterKey)="search()"></app-custom-text-box>
            </div>

            <div class="col-md-3">
                <app-custom-label text="Mã khách hàng"></app-custom-label>
                <app-custom-text-box [(value)]="req.client_code" (onEnterKey)="search()"></app-custom-text-box>
            </div>

            <div class="col-md-3">
                <app-custom-label text="Tên khách hàng"></app-custom-label>
                <app-custom-text-box [(value)]="req.user_name" (onEnterKey)="search()"></app-custom-text-box>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-end gap-3 mb-1">
            <app-custom-button [icon]="'assets/images/icon/reload.svg'" [text]="'LÀM MỚI'" [type]="'outline'"
                        [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                        (btnClick)="reload()"></app-custom-button>

            <app-custom-button [icon]="'assets/images/icon/search.svg'" [text]="'TÌM KIẾM'" [type]="'primary'"
                        [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                        (btnClick)="search()"></app-custom-button>
        </div>            
    </div>

    <app-custom-header-title class="my-2" text="Danh sách thẻ bàn giao"></app-custom-header-title>

    <div class="row mb-3">
        <div class="col-md-3">
            <app-custom-label text="Người duyệt" [important]="true"></app-custom-label>
            <app-custom-select-box [showClearButton]="true" [items]="lstUserForAuth" id="approved_by"
                    [inputAttr]="{ 'aria-label': 'ReadOnly Product' }" [searchEnabled]="true"
                    [(value)]="name_user_confirm" valueExpr="user_name" 
                    displayExpr="full_name" placeholder="Chọn"></app-custom-select-box>
        </div>
    </div>

    <app-data-grid-control [dataSource]="dataSource" 
                        [columns]="columns"  
                        [length] = "length"
                        [requestFilter]="req"
                        (loadData)="loadData($event)"
    ></app-data-grid-control>
</div>

<div class="button-sticky-footer card" *ngIf="hasCreateButton && dataSource.length > 0">
    <div class="d-flex justify-content-end gap-3">
        <app-custom-button [text]="'BÀN GIAO'" [type]="'primary'"
                        [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                        (btnClick)="updateStatusCard()"></app-custom-button>
    </div>
</div>
