<div class="col-md-12">
    <app-custom-header-title class="my-3" text="Tìm kiếm"></app-custom-header-title>

    <div class="row">
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Số giao dịch"></app-custom-label>
                <app-custom-text-box [(value)]="req.tranNo" (valueChange)="req.tranNo = $event.trim()" (onEnterKey)="search()"></app-custom-text-box>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Mã khách hàng"></app-custom-label>
                <app-custom-text-box [(value)]="req.custNo" (valueChange)="req.custNo = $event.trim()" (onEnterKey)="search()"></app-custom-text-box>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Trạng thái duyệt"></app-custom-label>
                <app-custom-select-box [showClearButton]="true" [items]="authStatusList"
                        [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                        [(value)]="req.auth_stat" valueExpr="id" displayExpr="name" placeholder="Chọn" 
                        (onEnterKey)="search()"></app-custom-select-box>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Trạng thái gửi"></app-custom-label>
                <app-custom-select-box [showClearButton]="true" [items]="sendStatusList"
                        [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                        [(value)]="req.action_auth" valueExpr="id" displayExpr="name" placeholder="Chọn" 
                        (onEnterKey)="search()"></app-custom-select-box>
            </div>
        </div>                
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="d-flex my-2 justify-content-end gap-3">
            <app-custom-button
                [icon]="'assets/images/icon/reload.svg'"
                [text]="'LÀM MỚI'"
                [type]="'outline'"
                [width]="'140px'"
                [height]="'42px'"
                [iconSize]="'22px'"
                [fontSize]="'16px'"
                (btnClick)="reload()"
                ></app-custom-button>

            <app-custom-button
                [icon]="'assets/images/icon/search.svg'"
                [text]="'TÌM KIẾM'"
                [type]="'soft'"
                [width]="'140px'"
                [height]="'42px'"
                [iconSize]="'22px'"
                [fontSize]="'16px'"
                (btnClick)="search()"
                ></app-custom-button>
        </div>
    </div>
</div>

<app-custom-header-title class="my-2" text="Danh sách thay đổi TKTT cho thẻ"></app-custom-header-title>

<app-data-grid-control [dataSource]="dataSource" [columns]="columns" [length]="length" [requestFilter]="req"
    (loadData)="loadData($event)"></app-data-grid-control>

<!-- <dx-popup *ngIf="isPopupVisible" [(visible)]="isPopupVisible" [width]="'1200'" [height]="'auto'"
    (onHiding)="hidePopup()" title="Thông tin chi tiết">
    <app-cardnew-detail [id]="id" (close)="hidePopup()"></app-cardnew-detail>
</dx-popup> -->