<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="assets/css/fonts.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="assets/css/demo.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script defer src="https://cdn.jsdelivr.net/npm/face-api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsQR/1.4.0/jsQR.js"></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    @* <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script> *@
    <script type="module" src="assets/js/faceRecongnition.js"></script>
    <script type="module" src="js/face-api.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="assets/js/plugin/datatables/datatables.min.js"></script>
</body>

</html>
