.content-select-box {
    height: 40px;
    border: 1px solid #0000003B;
    border-radius: 4px;   
    width: 100%;
}

::ng-deep .content-select-box .dx-texteditor-input {
  font-size: 14px;
}

::ng-deep .content-select-box.dx-state-disabled {
  border: 1px solid #0000003B !important;
}

::ng-deep .content-select-box .dx-placeholder {
  font-size: 14px;
}