<div class="col-md-12">
    <app-custom-header-title class="my-3" text="Tìm kiếm khách hàng"></app-custom-header-title>
    <app-custom-label text="Tìm kiếm nhanh"></app-custom-label>

    <div class="d-flex justify-content-between flex-wrap w-100">
        <app-custom-button [text]="'TẤT CẢ'" [type]="'outline'" [width]="'120px'" [height]="'36px'" [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'All'"
            (btnClick)="selectedTick('All')"></app-custom-button>

        <app-custom-button [text]="'CHỜ XỬ LÝ'" [type]="'outline'" [width]="'120px'" [height]="'36px'"
            [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'Pending'"
            (btnClick)="selectedTick('Pending')"></app-custom-button>

        <app-custom-button [text]="'TÔI GỬI'" [type]="'outline'" [width]="'120px'" [height]="'36px'" [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'MySend'"
            (btnClick)="selectedTick('MySend')"></app-custom-button>

        <app-custom-button [text]="'GỬI TỚI TÔI'" [type]="'outline'" [width]="'120px'" [height]="'36px'"
            [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'SendForMe'"
            (btnClick)="selectedTick('SendForMe')"></app-custom-button>

        <app-custom-button [text]="'ĐANG MỞ (' + countTotalOpen + ')'" [type]="'outline'" [width]="'120px'"
            [height]="'36px'" [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'Open'"
            (btnClick)="selectedTotal('Open')"></app-custom-button>

        <app-custom-button [text]="'TỪ CHỐI (' + countTotalReject + ')'" [type]="'outline'" [width]="'120px'"
            [height]="'36px'" [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'Reject'"
            (btnClick)="selectedTotal('Reject')"></app-custom-button>

        <app-custom-button [text]="'ĐANG XỬ LÝ (' + countTotalProcessing + ')'" [type]="'outline'" [width]="'120px'"
            [height]="'36px'" [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'Processing'"
            (btnClick)="selectedTotal('Processing')"></app-custom-button>

        <app-custom-button [text]="'PHÊ DUYỆT (' + countTotalDone + ')'" [type]="'outline'" [width]="'120px'"
            [height]="'36px'" [fontSize]="'14px'"
            [isSelected]="buttonSelected === 'Done'"
            (btnClick)="selectedTotal('Done')"></app-custom-button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Từ ngày"></app-custom-label>

                <app-custom-date-box [(value)]="req.from_date" type="date" displayFormat="dd/MM/yyyy"
                    dateSerializationFormat="yyyy-MM-dd" [showClearButton]="true" [inputAttr]="{ 'aria-label': 'Date' }"
                    (onEnterKey)="search()"></app-custom-date-box>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Đến ngày"></app-custom-label>

                <app-custom-date-box [(value)]="req.to_date" type="date" displayFormat="dd/MM/yyyy"
                    dateSerializationFormat="yyyy-MM-dd" [showClearButton]="true" [inputAttr]="{ 'aria-label': 'Date' }"
                    (onEnterKey)="search()"></app-custom-date-box>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Mức ưu tiên"></app-custom-label>
                <!-- <app-custom-select-box [items]="dataPriorities" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                    [(value)]="req.priority_id" valueExpr="value" [[displayExpr]]="displayBasicItemSelect"
                    placeholder="Chọn"></app-custom-select-box> -->
                <app-custom-select-box [items]="dataPriorities" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                    [(value)]="req.priority_id" valueExpr="value" [displayExpr]="displayBasicItemSelect"
                    placeholder="Chọn mức độ" (onEnterKey)="search()"></app-custom-select-box>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Từ khóa"></app-custom-label>
                <app-custom-text-box [(value)]="req.keyword">
                </app-custom-text-box>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Mã khách hàng"></app-custom-label>
            <app-custom-text-box [(value)]="req.client_code">
            </app-custom-text-box>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Số tài khoản"></app-custom-label>
            <app-custom-text-box [(value)]="req.account_no">
            </app-custom-text-box>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Số thẻ"></app-custom-label>
            <app-custom-text-box [(value)]="req.card_number">
            </app-custom-text-box>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Mã tra soát"></app-custom-label>
            <app-custom-text-box [(value)]="req.issue_id">
            </app-custom-text-box>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Trạng thái"></app-custom-label>
            <app-custom-select-box [items]="dataStatus" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                [(value)]="req.status_id" valueExpr="value" [displayExpr]="displayBasicItemSelect" placeholder="Chọn trạng thái"
                (onEnterKey)="search()"></app-custom-select-box>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Ngoài trạng thái"></app-custom-label>
            <app-custom-select-box [items]="dataNotinStatus" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                [(value)]="req.service_code" valueExpr="value" [displayExpr]="displayBasicItemSelect" placeholder="Chọn trạng thái"
                (onEnterKey)="search()"></app-custom-select-box>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Dịch vụ hỗ trợ"></app-custom-label>
            <app-custom-select-box [items]="radioOptions" [(value)]="selectedOptionSupportService"
                [inputAttr]="{ 'aria-label': 'ReadOnly Product' }" [displayExpr]="displayBasicItemSelect" valueExpr="value"
                placeholder="Chọn loại dịch vụ" (valueChange)="onRadioChange($event)">
            </app-custom-select-box>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Chọn dịch vụ"></app-custom-label>
            <app-custom-select-box [items]="dataSupportService" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                [(value)]="req.assigned" valueExpr="value" [displayExpr]="displayBasicItemSelect" placeholder="Chọn dịch vụ"
                (valueChange)="onServiceChange($event)"
                (onEnterKey)="search()"></app-custom-select-box>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Gửi tới người"></app-custom-label>
            <app-custom-select-box [items]="dataAssign" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                [(value)]="req.assigned" valueExpr="value" [displayExpr]="displayItemSelect" placeholder="Chọn người dùng"
                (onEnterKey)="search()" [disabled]="isDisabled"></app-custom-select-box>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="fv-row">
            <app-custom-label text="Gửi tới nhóm"></app-custom-label>
            <app-custom-select-box [items]="dataGroupAssign" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                [(value)]="req.group_assign" valueExpr="value" [displayExpr]="displayItemSelect" placeholder="Chọn nhóm người dùng"
                (onEnterKey)="search()" [disabled]="isDisabled"></app-custom-select-box>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="d-flex my-2" style="display: flex; justify-content: flex-end; gap: 24px;">
                <app-custom-button [icon]="'assets/images/icon/reload.svg'" [text]="'LÀM MỚI'" [type]="'outline'"
                    [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                    (btnClick)="reload()"></app-custom-button>

                <app-custom-button [icon]="'assets/images/icon/search.svg'" [text]="'TÌM KIẾM'" [type]="'soft'"
                    [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                    (btnClick)="search()"></app-custom-button>
            </div>
        </div>
    </div>
</div>
<app-custom-header-title class="my-2" text="Danh sách tra soát"></app-custom-header-title>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="d-flex my-2" style="display: flex; justify-content: flex-end; gap: 24px;">

                <app-custom-button [icon]="'assets/images/icon/download.svg'" [text]="'EXPORT EXCEL'" [type]="'primary'"
                    [width]="'179px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                    (btnClick)="exportExcel()"></app-custom-button>
            </div>
        </div>
    </div>
</div>


<app-data-grid-control [dataSource]="dataSource" [columns]="columns" [length]="length" [requestFilter]="req"
    (loadData)="loadData($event)"></app-data-grid-control>