<form (onEnterKey)="search()">
    <app-custom-header-title class="my-3" text="Tìm kiếm"></app-custom-header-title>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="fv-row">
                    <app-custom-label text="Từ ngày"></app-custom-label>
                    <app-custom-date-box type="date" [(value)]="req.from_date" displayFormat="dd/MM/yyyy"
                        dateSerializationFormat="yyyy-MM-dd" [showClearButton]="true" (onEnterKey)="search()"
                        [inputAttr]="{ 'aria-label': 'Date' }">
                    </app-custom-date-box>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="fv-row">
                    <app-custom-label text="Đến ngày"></app-custom-label>
                    <app-custom-date-box type="date" [(value)]="req.to_date" displayFormat="dd/MM/yyyy"
                        dateSerializationFormat="yyyy-MM-dd" [showClearButton]="true" (onEnterKey)="search()"
                        [inputAttr]="{ 'aria-label': 'Date' }">
                    </app-custom-date-box>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="fv-row">
                    <app-custom-label text="Mã khách hàng"></app-custom-label>
                    <app-custom-text-box [(value)]="req.cust_no" (valueChange)="req.cust_no = $event.trim()"
                        (onEnterKey)="search()">
                    </app-custom-text-box>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="fv-row">
                    <app-custom-label text="Tên khách hàng"></app-custom-label>
                    <app-custom-text-box [(value)]="req.cust_name" (valueChange)="req.cust_name = $event.trim()"
                        (onEnterKey)="search()">
                    </app-custom-text-box>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-3 mb-2">
            <div class="fv-row">
                <app-custom-label text="Loại thẻ"></app-custom-label>
                <app-custom-select-box [showClearButton]="true" id="selectedCardType" [items]="dataCardType"
                    [inputAttr]="{ 'aria-label': 'ReadOnly Product' }" [searchEnabled]="true"
                    [(value)]="selectedCardType" valueExpr="value" displayExpr="text"
                    placeholder="Chọn"></app-custom-select-box>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="d-flex my-2" style="display: flex; justify-content: flex-end; gap: 24px;">

                <app-custom-button [icon]="'assets/images/icon/reload.svg'" [text]="'LÀM MỚI'" [type]="'outline'"
                    [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                    (btnClick)="reload()"></app-custom-button>

                <app-custom-button [icon]="'assets/images/icon/search.svg'" [text]="'TÌM KIẾM'" [type]="'soft'"
                    [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                    (btnClick)="search()"></app-custom-button>
            </div>
        </div>
    </div>
    <app-custom-header-title class="my-2" text="Danh sách phát hành lại"></app-custom-header-title>
    <app-data-grid-control [dataSource]="dataSource" [columns]="columns" [length]="length" [requestFilter]="req"
        (loadData)="loadData($event)"></app-data-grid-control>

    <!-- <dx-popup *ngIf="isPopupVisible" [(visible)]="isPopupVisible" [width]="'1200'" [height]="'auto'"
    (onHiding)="hidePopup()" title="Thông tin chi tiết">
    <app-cardnew-detail [id]="id" (close)="hidePopup()"></app-cardnew-detail>
</dx-popup> -->
</form>