<div class="col-md-12">
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Chi nhánh" [important]="true"></app-custom-label>
                <app-custom-select-box [showClearButton]="true" [items]="dataBranchCode" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                        [(value)]="data.branch_code" valueExpr="param_code" displayExpr="param_name"
                        placeholder="Chọn" [disabled]="visibleNotify"></app-custom-select-box>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Mã đơn vị Agent" [important]="true"></app-custom-label>
                <app-custom-text-box [(value)]="data.agent_code" [disabled]="visibleNotify"></app-custom-text-box>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Tên đơn vị Agent" [important]="true"></app-custom-label>
                <app-custom-text-box [(value)]="data.agent_name" [disabled]="visibleNotify"></app-custom-text-box>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Địa chỉ Agent" [important]="true"></app-custom-label>
                <app-custom-text-box [(value)]="data.address" [disabled]="visibleNotify"></app-custom-text-box>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Trạng thái" [important]="true"></app-custom-label>
                <app-custom-select-box [showClearButton]="true" [items]="dataStatus" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                        [(value)]="data.status" valueExpr="id" displayExpr="name"
                        placeholder="Chọn" [disabled]="visibleNotify"></app-custom-select-box>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Trạng thái duyệt"></app-custom-label>
                
                <app-custom-select-box [showClearButton]="true" [items]="dataAuthStatus" [inputAttr]="{ 'aria-label': 'ReadOnly Product' }"
                        [(value)]="data.auth_stat" valueExpr="id" displayExpr="name"
                        placeholder=" " [disabled]="true" [showDropDownButton]="false"></app-custom-select-box>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row" [hidden]="visibleNotify">
        <div class="flex my-2 justify-content-end">
            <app-screen-button (onItemClick)="onClick($event)"></app-screen-button>
            <!-- <dx-button class="me-1" stylingMode="contained" text="Quay lại" type="default" width="auto" (onClick)="onClick('Back')">
                            </dx-button> -->
        </div>
    </div>

    <app-custom-confirm-notify title="{{titleNotify}}" [visible]="visibleNotify" (onCancel)="cancelHandler()" (onConfirm)="confirmHandler()"></app-custom-confirm-notify>
</div>
