<app-custom-header-title class="my-3" text="Tìm kiếm"></app-custom-header-title>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Số thẻ"></app-custom-label>
                <app-custom-text-box [(value)]="req.card_number" (onEnterKey)="search()"></app-custom-text-box>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Số CCCD"></app-custom-label>
                <app-custom-text-box [(value)]="req.legal_id" (onEnterKey)="search()"></app-custom-text-box>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="fv-row">
                <app-custom-label text="Mã khách hàng"></app-custom-label>
                <app-custom-text-box [(value)]="req.client_code" (onEnterKey)="search()"></app-custom-text-box>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="d-flex my-2" style="display: flex; justify-content: flex-end; gap: 24px;">
                <app-custom-button [icon]="'assets/images/icon/reload.svg'" [text]="'LÀM MỚI'" [type]="'outline'"
                    [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                    (btnClick)="reload()"></app-custom-button>

                <app-custom-button [icon]="'assets/images/icon/search.svg'" [text]="'TÌM KIẾM'" [type]="'soft'"
                    [width]="'140px'" [height]="'42px'" [iconSize]="'22px'" [fontSize]="'16px'"
                    (btnClick)="search()"></app-custom-button>
            </div>
        </div>
    </div>
</div>
<app-custom-header-title class="my-2" text="Danh sách thẻ chưa kích hoạt"></app-custom-header-title>
<app-data-grid-control [dataSource]="dataSource" [columns]="columns" [length]="length" [requestFilter]="req"
    (loadData)="loadData($event)"></app-data-grid-control>

<dx-popup *ngIf="isPopupVisible" [(visible)]="isPopupVisible" [width]="'1200'" [height]="'auto'"
    (onHiding)="hidePopup()" title="Thông tin chủ thẻ">
    <app-active-card-detail [data_card_customer]="data_card_customer" (close)="hidePopup()"></app-active-card-detail>
</dx-popup>